<a href="https://colab.research.google.com/github/angad26/Data-Correlation-Project/blob/main/Data_Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [3]:
url = 'https://raw.githubusercontent.com/angad26/Data-Correlation-Project/main/movies.csv'

db = pd.read_csv(url)

In [ ]:
db.head()

In [ ]:
for col in db.columns:
  pct_missing = np.mean(db[col].isnull())
  print(col,' ',pct_missing)

In [ ]:
db.dtypes

In [7]:
db['budget'] = db['budget'].fillna(0)
db['gross'] = db['gross'].fillna(0)

In [8]:
db['budget'] = db['budget'].astype('int64')
db['gross'] = db['gross'].astype('int64')

In [ ]:
db

In [ ]:
db.sort_values(by='gross', inplace=False, ascending=False)

In [ ]:
db.sort_values(by='gross', inplace=False, ascending=False)

In [ ]:
db['company'].drop_duplicates().sort_values(ascending=False)

In [ ]:
plt.scatter(x=db['budget'],y=db['gross'])
plt.title('Budget v/s Gross Earnings')
plt.ylabel('Gross Earnings')
plt.xlabel('Budget for Film')
plt.show()

In [ ]:
sns.regplot(x='budget',y='gross', data=db, scatter_kws={"color":"red"}, line_kws={"color":"blue"})

In [29]:
correlation_matrix = db.corr()

In [ ]:
sns.heatmap(correlation_matrix, annot=True)
plt.title("Correlation Matrix")
plt.xlabel("Movie Features")
plt.ylabel("Movie Features")

In [41]:
db_numerized = db

for col_name in db_numerized.columns:
  if (db_numerized[col_name].dtype == 'object'):
    db_numerized[col_name] = db_numerized[col_name].astype('category')
    db_numerized[col_name] = db_numerized[col_name].cat.codes

db_numerized.head()

   name  rating  genre  year  ...      gross  company  runtime  yearcorrect
0  6587       6      6  1980  ...   46998772     2319    146.0           97
1  5573       6      1  1980  ...   58853106      731    104.0          189
2  5142       4      0  1980  ...  538375067     1540    124.0           97
3   286       4      4  1980  ...   83453539     1812     88.0          189
4  1027       6      4  1980  ...   39846344     1777     98.0           97

[5 rows x 16 columns]